{:kotoba.app/id "cloud.itonami.isic-0520", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidtsm7ep6nm72kgnyukonhw7p3fnemtyur4i5sgnitnq75fgmvnau", :kotoba.app/embed-url "ipfs://bafkreidtsm7ep6nm72kgnyukonhw7p3fnemtyur4i5sgnitnq75fgmvnau", :published {:archive "https://kotobase.net/ipfs/bafkreidtsm7ep6nm72kgnyukonhw7p3fnemtyur4i5sgnitnq75fgmvnau", :size 72112, :put-status 201, :get-status 200, :at "2026-08-15T14:00:33.023Z"}}
